@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* css/Sass    */
	li {
		list-style-type: none;
	}
	
	#root {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

	}
}

@layer components {
	/* Tailwind */



	/* SHARED STYLES */
	.container {
		@apply w-full max-w-7xl mx-auto px-4;
	}
	#root{
		@apply font-roboto
	}
	.heading2{
		@apply sm:text-4xl text-3xl
	}
	.text {
		@apply text-gray-300 font-[300] leading-[27px];
	}
	.button{
		@apply uppercase  min-w-[150px] text-center rounded  cursor-pointer border-white border-2  py-2 hover:scale-95 duration-100
 	}
	 .center-absolute {
    @apply absolute left-[50%] right-[50%] -translate-x-[50%];
  }


	/* HEADER */


	nav {
    @apply fixed top-0 left-0 bottom-0 w-full h-full z-[100]  md:relative  bg-customViolet text-white  ;
  }

	.nav-list_container {
		@apply   container  w-full h-full  md:h-[68px] flex items-center flex-col justify-center gap-20  md:flex-row  md:pr-8 lg:pr-10 md:gap-10 lg:gap-20 ;
	}

	.nav-list {
		@apply  w-full flex flex-col justify-end  items-center gap-20  text-[16px]  uppercase  md:flex-row md:h-auto md:gap-10  lg:gap-20    xl:gap-28 ;
	}

	.nav_link-item {
		@apply block hover:scale-95  transition-all  delay-100  duration-200 tracking-[1px];
	}

	.toggleButton {
		@apply z-[101] absolute outline-none border-none select-none top-4 right-4 md:hidden;
	}







	/* SERVICES */
	.service-container{
		@apply rounded-xl  overflow-hidden flex flex-col mx-5 justify-center items-start  border-gray-400 border-[1px]     text-start
	}

	.service-subcontainer{
		@apply px-4 py-3
	}
	.service-title{
		@apply font-bold
	}
	.service-img{
		@apply w-full
	}
	.slider-arrow{
		@apply absolute hidden tablet:block bottom-0 top-0
	}
	

	/* FOOTER */

	.footer {
		@apply bg-customViolet text-white mt-10 pt-5 flex flex-col items-center justify-center gap-5 sm:h-60 sm:flex-row sm:items-start sm:gap-20 sm:pt-12;
	}

	.footer__nav-title {
		@apply text-lg font-semibold;
	}
}
